.header {
height: 95vh;
background-image: linear-gradient(
to right bottom,
var(--header-gradient),
var(--header-gradients)
),
url("/Images/supernatural-cast.jpg");

background-size: cover;
background-position: top;
clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
position: relative;
}