.section-about {
  background-color: $color-section-background;
  padding: 20rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 12.5rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-header-gradient, 0.8),
      rgba($color-header-gradients, 0.8)
    ),
    url("/Images/imageedit_8_9294547708.jpg");
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -7.6255rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-enemies {
  background-color: $color-section-background;
  padding: 20rem 0;
  padding: 20rem 0 15.25rem 0;
  margin-top: -8rem;
}

.section-stories {
  position: relative;
  padding: 10rem 0;
}

.section-book {
  padding: 9.375rem;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  background-image: linear-gradient(105deg,
   ($color-h1-color-opacity)0%,
   ($color-h1-color-opacity)50%,
    transparent 50%) ,
     url(../../Images/cast960x540.png);
    opacity: 0.5;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 2.5rem $color-black-opacity;

  height: 36.25rem;

  &__form {
    width: 50%;
    padding: 3.75rem;

  }
  
}
