.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2.5rem;
    display: inline-block;
    border-radius: 6.25rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.625rem 20px $color-btn-hover;

    &::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.0625rem);
    box-shadow: 0 0.3125rem 0.625rem $color-btn-hover;
  }

  &--white {
    background-color: $color-h1-color;
    color: $color-header-font;
    font-weight: 900;
    margin-right: 20px;

    &::after {
      background-color: $color-h1-color;
    }
  }

  &--dark {
    background-color: $color-h1-color-dark;
    color: $color-header-font;
    font-weight: 900;

    &::after {
      background-color: $color-grey-light-1;
    }
  }

  &--black {
    background-color: $color-grey-dark-2;
    color: white;
    font-weight: 900;
  }

  &--discover {
    background-color: $color-h1-color-discover;
    color: $color-header-font;
    font-weight: 900;

    &::after {
      background-color: $color-grey-light-1;
    }
  }

  &--text {
    background-color: $color-h1-color-text;
    color: $color-header-font;
    font-weight: 900;

    &::after {
      background-color: $color-grey-light-1;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 6.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-header-font;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-header-font;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-grey-dark-1;
    color: $color-h1-color;
    box-shadow: 0 .625rem 1.25rem $color-btn-hover;
    transform:translateY(-2px);
  }

  &:active {
    box-shadow: 0 .3125rem .625rem $color-btn-hover;
    transform:translateY(0);
  }
}
